<%- include('../partials/header') %>
<div class="container section text-center">
  <h1>404</h1>
  <p>Page Not Found</p>
  <a href="/" class="btn">Go Home</a>
</div>
<%- include('../partials/footer') %>
